* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	font-family: Arial;
}
.boughtDiv {
	max-width: 1013px;
	margin: 10px auto;
}
.orderType div {
	border-bottom: 2px solid #E8E8E8;
	float: left;
}
.orderType a {
	border-right: 1px solid #E8E8E8;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	padding: 0 20px;
	margin-bottom: 10px;
}
.orderType a:hover {
	text-decoration: none;
	color: #C40000;
}
.orderType .selectedOrderType {
	border-bottom: 2PX solid #C40000;
}
.orderType .selectedOrderType a {
	color: #C40000;
}
.orderType .orderTypeLastOne {
	overflow: hidden;
	float: none;
	border-bottom: 2px solid #E8E8E8;
	height: 34px;
}
a.noRightBorder {
	border-right-width: 0px !important;
}
.orderListTitleTable {
	border: 1px solid #E8E8E8;
	width: 100%;
	margin: 20px 0px;
	background-color: #F5F5F5;
	text-align: center;
	font-size: 12px;
}
.orderListTitleTable td {
	padding: 12px 0;
}